createdAt: "2018-01-20T04:33:20.241Z"
updatedAt: "2018-01-20T04:34:27.418Z"
type: "MARKDOWN_NOTE"
folder: "a7ac8b9f6efa56e4e130"
title: "二分法"
content: '''
  # 二分法
  
  
'''
tags: []
isStarred: false
isTrashed: false
